<head>
    <title> News Category Classifier</title>
    <center><h1>Nepali News Category Classifier</h1></center>
</head>

<form action="{{ url_for('nepali') }}" method="POST" align="center">
	<fieldset>
			
		<legend>
			<b>Enter news text to classify news into the following categories</b>				
		</legend>
				
		'ENTERTAINMENT', 'BUSINESS' and 'SPORTS' 
		<br><br>
				
		Have fun!
		<br><br>
				
		News Text:
		<br><br>
				
		<input id="text_field" name="news_text" type="text" required> 
				
		<center>
			<input id="submit_button" type="Submit" class="push_button blue">
		</center>
				
	</fieldset>
</form>

<div class="predict" align="center">
	{% if predict %}
		{% for key, value in original_input.items() %}
			<b>{{ key }}</b> : {{ value }}
		{% endfor %}
		<br>
		<br> 
		<p style="font-size:20px"><b>Predicted News Category: </b></p>
		<p style="font-size:50px">{{ predict }}</p>
	{% endif %}
</div>
